<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Görüntülü konuşma yapabilmek için kamerana erişmemiz gerekiyor.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Sesli ve görüntülü konuşma için mikrofonuna erişmemiz gerekiyor.</string>
</dict>
</plist>
