
.DS_Store
.AppleDouble
.LSOverride


build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM


*.xcuserdata/
*.xcworkspace/xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate


.build/


*.p8                
Secrets.swift       
GoogleService-Info.plist  

# Node.js Server
nodejsServer/node_modules/
nodejsServer/uploads/
nodejsServer/*.log
.env
